<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>개인 정보 입력</h1>
    <form action="http://127.0.0.1:8000/per_info" method="get">
        <label for="">성명</label>
        <input type="text" name="name">
        <br><br>
        <label for="">비밀번호</label>
        <input type="password" name="password">
        <br><br>
        <label for="">전화번호</label>
        <input type="text" name="number">
        <br><br>
        <label for="">이메일 주소</label>
        <input type="email" name="email">
        <br><br>
        <label for="">나이</label>
        <input type="text" name="age">
        <br><br>
        <label for="">성별</label>
        <input type="text" name="gender">
        <br><br>
        <input type="submit" value="전송">
    </form>
</body>
</html>